<ul>
  <% @party.members.each do |member|  %>
 <li><%= member.username %></li>
  <% end %>
   <% if current_user.id == @party.user_id %>
    <%= @url %>
    <% end %>
</ul>


<% if current_user.id == @party.user_id %>
  <%= link_to "Spin da Spoon!", party_roulette_path(@party) %>
<% end %>

