.restaurant-image {
  width: 100vw;
  position: relative;
  object-fit: cover;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: block;
  height: 200px;
}

.star {
  font-size: 16px;
  margin: 2px;
}

.filled {
  color: gold;
}

.empty {
  color: lightgray;
}

.restaurant-mid {
  display: flex;
  align-items: center;
  gap: 40px;
}

.restaurant-rating {
  font-size: 22px;
}

.restaurant-info {
  margin: 5px;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.food-category {
  text-align: center;
  margin-bottom: 0;
}

#category {
  font-weight: 500;
}

.restaurant-location {
  font-size: 18px;
  color: #666;
}

h3 {
  margin-top: 10px;
}

.maps {
  text-align: center;
  margin: 15px auto;
}

.maps-link {
  color: rgb(255, 255, 255); /* Your requested color */
  font-size: 12px;
  font-weight:400;
  text-decoration: none;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  background-color: rgba(253, 139, 154, 1);
  padding: 7px;
  border-radius: 10px;/* Adds spacing between the icon and text */
}

.buttonz {
  display: flex;
  justify-content: center;
}

#loc {
  font-size: 15px;
  text-align: center;
  color: #888;
}
