
<div class="container">
  <% @friendships.each do |friend| %>
    <% if friend.public %>
      <%= friend.username %>
      <%= friend.email %>
      <%# link_to invite them %>
    <% end %>
  <% end %>
</div>
<br>
<button type="button">Add a Friend!</button>
