<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <!-- Logo -->
   

    <!-- Banner (if necessary) -->
    <div class="banner">
      <%= image_tag "SpinDaSpoonBanner.png" %>
    </div>

    <!-- Authentication Links (Always Visible) -->
    <div class="auth-links d-flex ms-auto">
      <% if user_signed_in? %>
        <%= link_to "Sign out", signout_user_path, data: { turbo_method: :delete }, class: "auth-link" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "auth-link" %>
      <% end %>
    </div>
  </div>
</div>