  <form class="simple_form search" action="/parties" method="post">
    <div class="search-form d-flex align-items-center" style="gap: 0.5rem;">
      <input class="form-control" type="text" name="category_name" id="search_query" placeholder="Type a cuisine..." />
      <button type="submit" class="btn d-flex align-items-center justify-content-center">
        <i class="fas fa-search text-secondary"></i>
      </button>
    </div>
  </form>

<% @categories.each do |category| %>
  <div>
    <%= form_with url: parties_path, method: :post do |f| %>
      <%= f.hidden_field :category_name, value: category %>
      <%= f.submit "#{category}" %>
    <% end %>
  </div>
<% end %>

 <div class="form-group mb-5 fw-bold">
    <div class="mb-3 select optional difficulty_level"><label class="form-label select optional" for="difficulty_level">Difficulty</label><select class="form-select select optional" name="difficulty[level]" id="difficulty_level">
      <option value="1">Easy</option>
      <option value="2">Medium</option>
      <option value="3">Hard</option>
      </select>
    </div>
 </div>
