<% @categories.each do |category| %>
  <div>
    <%= form_with url: parties_path, method: :post do |f| %>
      <%= f.hidden_field :category_name, value: category %>
      <%= f.submit "#{category}" %>
    <% end %>
  </div>
<% end %>
