Hello Moto

<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.category %></li>
  <li><%= @restaurant.location %></li>
  <li><%= @restaurant.rating  %></li>
</ul>


show page to party
fetch
show restaurant
