.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
  font-size: 15px;
}

.banner {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
      max-height: 100%;
      height: auto;
      width: auto;
    }
}
